.btn,
.btn:hover,
.btn:focus,
.btn:active {
  transition: color 0.4s, background-color 0.4s, opacity 0.4s;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  min-width: 172px;
  min-height: 48px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-white;

  background-color: $color-blue;

  appearance: none;
  cursor: pointer;
}

.btn:hover {
  color: $color-white;

  background-color: $color-dark-blue;
}

.btn:focus {
  color: $color-black;

  background-color: $color-orange;

  outline: none;
}

.btn:active {
  color: $color-white;

  background-color: $color-dark-blue;

  opacity: 0.8;
}

.btn:disabled {
  color: $color-black;

  background-color: #b0b0b0;

  cursor: default;
}

.btn--stroke,
.btn--stroke:hover,
.btn--stroke:focus,
.btn--stroke:active {
  transition: color 0.4s, border-color 0.4s, opacity 0.4s;
}

.btn--stroke {
  border: 2px solid $color-white;

  color: $color-white;

  background-color: transparent;
}

.btn--stroke:hover {
  border-color: $color-yellow;

  color: $color-yellow;
}

.btn--stroke:focus {
  border-color: $color-orange;

  color: $color-orange;

  background-color: transparent;

  outline: none;
}

.btn--stroke:active {
  border-color: $color-yellow;

  color: $color-yellow;

  background-color: transparent;

  opacity: 0.8;
}

.btn--stroke:disabled {
  border-color: #b0b0b0;

  color: #b0b0b0;

  cursor: default;
}
