.contacts {
  @include tablet {
    width: calc(50% - 6px);
  }
}

.contacts > *:not(:first-child) {
  margin-top: 24px;
}

.contacts p {
  margin: 0;
  max-width: 320px;
}

.contacts__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  font-weight: 700;

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
  }

  & > a {
    font-size: 20px;
  }

  & > a:first-child {
    font-size: 24px;
    line-height: 36px;
  }

  & > *:not(:first-child) {
    margin-top: 12px;
  }
}
