.features {
  color: $color-white;

  @include mobile-only {
    background-color: $color-blue;
  }

  @include tablet {
    padding: 36px 0;
  }

  @include desktop {
    padding: 72px 0;
  }
}

.features__item strong,
.features__item p {
  @include tablet {
    text-align: center;
  }

  @include desktop {
    margin: 0 auto;
    max-width: 200px;
  }
}

.features__item strong {
  display: block;
  margin-bottom: 12px;

  font-weight: 600;
  font-size: 20px;
}

.features__item p {
  margin: 0 auto;

  @include tablet {
    max-width: 210px;
  }
}

.features__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    margin: 0 auto;
    max-width: 660px;
  }

  @media (min-width: 1280px) {
    max-width: 100%;
  }
}

.features__item {
  position: relative;

  @include mobile-only {
    margin-bottom: 24px;
    padding-left: 60px;
    max-width: 350px;
  }

  @include tablet {
    padding-top: 84px;
    padding-bottom: 12px;
    width: 320px;

    background-color: $color-blue;
  }

  @include desktop {
    padding-top: 156px;
    padding-bottom: 36px;
  }

  @media (min-width: 1280px) {
    width: 244px;
  }
}

.features__item:nth-child(n + 3) {
  @include tablet {
    margin-top: 12px;
  }

  @media (min-width: 1280px) {
    margin-top: 0;
  }
}

.features__item:nth-child(n + 5) {
  @media (min-width: 1280px) {
    margin-top: 32px;
  }
}

.features__item:nth-child(4n + 1),
.features__item:nth-child(4n + 2),
.features__item:nth-child(4n + 3) {
  @media (min-width: 1280px) {
    margin-right: 32px;
  }
}

.features__item > svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 44px;
  height: 44px;

  fill: $color-yellow;

  @include tablet {
    top: 12px;
    left: 50%;

    width: 48px;
    height: 48px;

    transform: translate(-50%, 0);
  }

  @include desktop {
    top: 36px;

    width: 72px;
    height: 72px;
  }
}
