.features {
  color: $color-white;

  @include mobile-only {
    margin-top: -36px;

    background-color: $color-blue;
  }
}

.features__item strong,
.features__item p {
  @include tablet {
    text-align: center;
  }

  @include desktop {
    margin: 0 auto;
    max-width: 83%;
  }
}

.features__item strong {
  display: block;
  margin-bottom: 12px;

  font-weight: 600;
  font-size: 20px;
}

.features__item p {
  margin: 0 auto;

  @include tablet-only {
    max-width: 65.63%;
  }
}

.features__list {
  @include list-reset;
  display: grid;

  @include tablet-only {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.44%;
    row-gap: 12px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 36px;
    row-gap: 36px;
  }
}

.features__item {
  position: relative;

  @include mobile-only {
    margin-bottom: 24px;
    padding-left: 60px;
  }

  @include tablet {
    background-color: $color-blue;
  }

  @include tablet-only {
    padding-top: 84px;
    padding-bottom: 12px;
  }

  @include desktop {
    padding-top: 156px;
    padding-bottom: 36px;
  }
}

.features__item > svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 44px;
  height: 44px;

  fill: $color-yellow;

  @include tablet {
    top: 12px;
    left: 50%;

    width: 48px;
    height: 48px;

    transform: translate(-50%, 0);
  }

  @include desktop {
    top: 36px;

    width: 72px;
    height: 72px;
  }
}
