.footer {
  padding: 36px 0;

  background-color: $color-dark-blue;
}

.footer h2 {
  color: $color-yellow;
}

.footer p {
  color: $color-white;
}

@include tablet {
  .footer > .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer > .inner > div {
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0;

    &:nth-child(2n + 3) {
      margin-top: 48px;
    }
  }
}

@include mobile-only {
  .footer > .inner > div:not(:last-child) {
    margin-bottom: 48px;
  }
}
