.footer {
  padding: 36px 0;

  background-color: $color-dark-blue;
}

.footer h2,
.footer a {
  color: $color-yellow;
}

.footer p {
  color: $color-white;
}

.footer > .inner {
  @include tablet {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer > .inner > *:not(:first-child) {
  @include mobile-only {
    margin-top: 48px;
  }
}
