.header {
  padding: 24px 0;

  background-image: linear-gradient(90deg, $color-dark-blue 0%, $color-blue 45.27%, $color-blue 60.04%, $color-dark-blue 100%);

  @include mobile-only {
    padding: 12px 0;

    background-image: linear-gradient(180deg, $color-dark-blue 0%, $color-blue 100%);
  }
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile-only {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  // Все соседние элементы за header__top
  & ~ * {
    margin-top: 12px;

    @include tablet {
      margin-top: 48px;
    }

    @include desktop {
      margin-top: 24px;
    }
  }
}
