.nav-menu > ul {
  @include list-reset;

  font-family: $font-secondary;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include mobile-only {
    line-height: 48px;
    letter-spacing: 0.1em;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: -20px;
    max-width: 550px;
  }

  @include desktop {
    margin-left: -44px;
    max-width: 650px;
  }
}

.nav-menu__item {
  @include tablet {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
  }

  @include desktop {
    padding-left: 44px;
  }
}

.nav-menu__item > a,
.nav-menu__item > a:hover,
.nav-menu__item > a:focus,
.nav-menu__item > a:active {
  transition: color 0.4s, opacity 0.4s;
}

.nav-menu__item > a {
  color: $color-white;
}

.nav-menu__item > a:hover {
  color: $color-yellow;
}

.nav-menu__item > a:focus {
  color: $color-orange;

  outline: none;
}

.nav-menu__item > a:active {
  color: $color-yellow;
  opacity: 0.8;
}

.nav-menu__item--active > a,
.nav-menu__item--active > a:hover,
.nav-menu__item--active > a:active {
  color: $color-yellow;
}
