.paginator {
  @include list-reset;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.paginator__item {
  flex-grow: 0;
  flex-shrink: 0;
}

.paginator__item:nth-last-child(n + 2) {
  margin-right: 12px;
}

.paginator__item a,
.paginator__item a:hover,
.paginator__item a:focus,
.paginator__item a:active {
  transition: background-color 0.4s, color 0.4s, opacity 0.4s;
}

.paginator__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 48px;
  height: 48px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;

  background-color: $color-blue;
}

.paginator__item a:hover {
  background-color: $color-dark-blue;
}

.paginator__item a:focus {
  color: $color-black;

  background-color: $color-orange;

  outline: none;
}

.paginator__item a:active {
  color: $color-white;

  background-color: $color-dark-blue;

  opacity: 0.8;
}

.paginator__item--active a,
.paginator__item--active a:hover,
.paginator__item--active a:focus,
.paginator__item--active a:active {
  background-color: $color-placeholder;

  opacity: 1;
  transition: none;
}
