.popular__list {
  @include list-reset;

  display: grid;
  justify-items: center;
  justify-content: center;
  row-gap: 24px;
  margin: 0 auto;

  @include mobile-only {
    grid-template-columns: 1fr;
    margin-bottom: 36px;
  }

  @include tablet-only {
    grid-template-columns: repeat(3, 208px);
    column-gap: 16px;
    margin-bottom: 48px;
  }

  @include desktop {
    grid-template-columns: repeat(3, 344px);
    column-gap: 24px;
    margin-bottom: 72px;
  }
}

.popular__wrapper-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular__wrapper-link > a {
  margin: 0 16px;
}

.popular__wrapper-link > div {
  background-color: $color-blue;
  width: 100%;
  max-width: 164px;
  height: 1px;
}
