<footer class="footer">
  <div class="inner">
    <div class="footer__contacts contacts">
      <h2>Наши контакты</h2>
      <p>Нам можно позвонить по&nbsp;телефону или написать в&nbsp;Инстаграм.</p>
      <div class="contacts__links">
        <a class="link link--dark-bg" href="tel:+79282933911">+7 (928) 293-39-11</a>
        <a class="link link--dark-bg" href="tel:+79266702070">+7 (928) 670-20-70</a>
        <a class="link link--dark-bg" href="#">@testaccount</a>
      </div>
    </div>
    <div class="footer__feedback feedback">
      <h2>Обратная связь</h2>
      <p>Оставьте ваш номер телефона и&nbsp;мы&nbsp;вам перезвоним</p>
      <form action="#" method="POST" class="feedback__form feedback-form" aria-label="Форма для обратной связи">
        <div class="feedback-form__item text-input text-input--dark-bg">
          <label for="name">Ваше имя:</label>
          <div class="text-input__wrapper">
            <input id="name" class="text-input__input" name="name" type="text" placeholder="Владислав" required>
          </div>
        </div>
        <div class="feedback-form__item text-input text-input--dark-bg">
          <label for="phone-num">Номер телефона:</label>
          <div class="text-input__wrapper">
            <input id="phone-num" class="text-input__input" type="text" placeholder="+7 (999) 123-45-67" required>
          </div>
        </div>
        <div class="feedback-form__item">
          <button class="btn feedback-form__submit" type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</footer>
