<footer class="footer">
  <div class="inner">
    <div class="footer__contacts contacts">
      <h2>Наши контакты</h2>
      <p>Нам можно позвонить по&nbsp;телефону или написать в&nbsp;Инстаграм.</p>
      <div class="contacts__links">
        <a href="tel:+79282933911">+7 (928) 293-39-11</a>
        <a href="tel:+79266702070">+7 (928) 670-20-70</a>
        <a href="#">@testaccount</a>
      </div>
    </div>
    <div class="footer__feedback feedback">
      <h2>Обратная связь</h2>
      <p>Оставьте ваш номер телефона и&nbsp;мы&nbsp;вам перезвоним</p>
      <form action="#" method="POST" class="feedback__form feedback-form">
        <div class="feedback-form__item input-container">
          <label for="name">Ваше имя:</label>
          <input id="name" name="name" type="text" placeholder="Владислав" required>
        </div>
        <div class="feedback-form__item input-container">
          <label for="phone-num">Номер телефона:</label>
          <input id="phone-num" type="text" placeholder="+7 (999) 123-45-67" required>
        </div>
        <button class="feedback-form__submit btn btn--stroke-dark" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</footer>
