* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;

  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-black;

  background-color: $color-background;
}

body > header,
body > footer {
  flex-grow: 0;
  flex-shrink: 0;
}

body > main {
  flex-grow: 1;
  flex-shrink: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  font-family: $font-secondary;
  font-weight: 700;
}

h2 {
  margin-bottom: 24px;

  font-size: 32px;
  line-height: 48px;
}

picture,
img {
  display: block;
}

img {
  width: 100%;
  height: auto;

  line-height: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 36px 0;

  @include tablet {
    padding: 48px 0;
  }

  @include desktop {
    padding: 72px 0;
  }
}

main > *:not(:last-child) {
  margin-bottom: 36px;

  @include tablet {
    margin-bottom: 48px;
  }

  @include desktop {
    margin-bottom: 72px;
  }
}
