/* Montserrat Regular Cyrillic */
/*
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular-Cyrillic.woff2") format("woff2"), url("../fonts/Montserrat-Regular-Cyrillic.woff") format("woff");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, U+2116;
}
*/

/* Montserrat Regular Latin */
/*
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular-Latin.woff2") format("woff2"), url("../fonts/Montserrat-Regular-Latin.woff") format("woff");
  unicode-range: u+0000-00ff, U+0131, u+0152-0153, u+02bb-02bc, u+02c6, U+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}
*/

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}

/* Montserrat SemiBold Cyrillic */
/*
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold-Cyrillic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold-Cyrillic.woff") format("woff");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, U+2116;
}
*/

/* Montserrat SemiBold Latin */
/*
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold-Latin.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold-Latin.woff") format("woff");
  unicode-range: u+0000-00ff, U+0131, u+0152-0153, u+02bb-02bc, u+02c6, U+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}
*/

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

/* Montserrat Bold Cyrillic */
/*
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold-Cyrillic.woff2") format("woff2"), url("../fonts/Montserrat-Bold-Cyrillic.woff") format("woff");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, U+2116;
}
*/

/* Montserrat Bold Latin */
/*
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold-Latin.woff2") format("woff2"), url("../fonts/Montserrat-Bold-Latin.woff") format("woff");
  unicode-range: u+0000-00ff, U+0131, u+0152-0153, u+02bb-02bc, u+02c6, U+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}
*/

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}

/* Helvetica Neue Regular Cyrillic */
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Regular-Cyrillic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Regular-Cyrillic.woff") format("woff");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, U+2116;
}

/* Helvetica Neue Regular Latin */
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Regular-Latin.woff2") format("woff2"), url("../fonts/HelveticaNeue-Regular-Latin.woff") format("woff");
  unicode-range: u+0000-00ff, U+0131, u+0152-0153, u+02bb-02bc, u+02c6, U+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}

/* Helvetica Neue Bold Cyrillic */
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Bold-Cyrillic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold-Cyrillic.woff") format("woff");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, U+2116;
}

/* Helvetica Neue Bold Latin */
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Bold-Latin.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold-Latin.woff") format("woff");
  unicode-range: u+0000-00ff, U+0131, u+0152-0153, u+02bb-02bc, u+02c6, U+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}
