/* Montserrat Regular */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  unicode-range: u+0000-00a0, u+00ab, u+00bb, u+00cb, u+0401, u+0410-044f, u+0451, u+2000-206f, u+20bd, u+2116, u+2215, u+feff, u+fffd;
}

/* Montserrat SemiBold */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  unicode-range: u+0000-00a0, u+00ab, u+00bb, u+00cb, u+0401, u+0410-044f, u+0451, u+2000-206f, u+20bd, u+2116, u+2215, u+feff, u+fffd;
}

/* Montserrat Bold */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  unicode-range: u+0000-00a0, u+00ab, u+00bb, u+00cb, u+0401, u+0410-044f, u+0451, u+2000-206f, u+20bd, u+2116, u+2215, u+feff, u+fffd;
}

/* Helvetica Neue Regular */
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"), url("../fonts/HelveticaNeue-Regular.woff") format("woff");
  unicode-range: u+0000-00a0, u+00ab, u+00bb, u+00cb, u+0401, u+0410-044f, u+0451, u+2000-206f, u+20bd, u+2116, u+2215, u+feff, u+fffd;
}

/* Helvetica Neue Bold */
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  unicode-range: u+0000-00a0, u+00ab, u+00bb, u+00cb, u+0401, u+0410-044f, u+0451, u+2000-206f, u+20bd, u+2116, u+2215, u+feff, u+fffd;
}
